<!DOCTYPE html>
<html lang="pt">
<head>
   <meta charset="UTF-8">
   <link href="static/formularioInclusao.css" rel="stylesheet" type="text/css">
   <title>Inclusão de Vacinações</title>
</head>
<body>
   <section id="sec_titulo">
      <h1>Resultado da inclusão de vacinações- CRUD</h1>
   </section>

   <section>
      <h2>{{ msg }}</h2>
   </section>

   <section id="sec_link">
      <a href="/menuAdmin"> Voltar ao menu do administrador </a>
      <br/>
      <a href="/formincluirVacinacao"> Incluir nova vacinacao </a>
   </section>
</body>
</html>
