<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>#Vacinaemcasa</title>

    <meta chaset="utf-8">
    <meta name="author" content="SGD" />
    <meta name="keywords"
        content="Vacina, Covid-19, Coronavírus, Vírus, CoronaVac, Astrazeneca, Pfizer, Janssen, Pandemia, Saúde" />
    <meta name="description" content="Consulta para vacinação contra a Covid-19 em casa" />
    <link href="static/index.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
</head>

<body>
    <header>
        <img src="static/img/banner.jpg" alt="Banner contendo profissionais do mercado de trabalho" />
    </header>

    <article id="article_index">
        <h1>#Vacinaemcasa</h1>
        <h2>Agora a vigilância ativa vai até você!</h2>
    </article>

    <section id="sec_instrucoes">
        <p>Clique na sua vacina e confira as datas disponíveis na sua região.</p>
        <p>Caso não tenha o cartão de vacina, emita o seu no <a
                href="https://conectesus-paciente.saude.gov.br/menu/home-default">ConectSUS</a>!</p>
        <p>Caso seja a primeira dose, é necessária apenas a documentação.</p>
        <p id="texto_alerta">Válidas para D1, D2, reforço e adicional.</p>
        <p id="texto_alerta">A VACINAÇÃO SÓ É VALIDADA COM O CARTÃO DE VACINA E DOCUMENTAÇÃO EM MÃOS!</p>
    </section>

    <section id="sec_astrazeneca_corona">
        <div id="container">
            <div class="card">
                <div class="card_content">
                    <h3>Astrazeneca</h3>
                </div>
                <a href="/parconsultarAstrazeneca">
                    <img class="img_vacinas" src="static/img/astrazeneca2.jpg" alt="Imagem Astrazeneca" />
                </a>
            </div>

            <div class="card">
                <div class="card_content">
                    <h3>CoronaVac</h3>
                </div>
                <a href="/parconsultarCoronavac">
                    <img class="img_vacinas" src="static/img/coronavac2.jpeg" alt="Imagem CoronaVac" />
                </a>
            </div>
        </div>
    </section>

    <section id="sec_janssen_pfizer">
        <div id="container">
            <div class="card">
                <div class="card_content">
                    <h3>Janssen</h3>
                </div>
                <a href="/parconsultarJanssen">
                    <img class="img_vacinas" src="static/img/janssen2.jpg" alt="Imagem Janssen" />
                </a>
            </div>

            <div class="card">
                <div class="card_content">
                    <h3>Pfizer</h3>
                </div>
                <a href="/parconsultarPfizer">
                    <img class="img_vacinas" src="static/img/pfizer2.jpg" alt="Imagem Pfizer" />
                </a>
            </div>
        </div>
    </section>

    <footer>
        <p>
            Diniz, Déborah | Requena, Gladys - 2021
        </p>
    </footer>

</body>

</html>