<!DOCTYPE html>
<html lang="pt">
<head>
   <meta charset="UTF-8">
   <link href="static/menu.css" rel="stylesheet" type="text/css">
   <title>Cadastro de Vacinações</title>
</head>
<body>
    <section id="sec_titulo">
        <h1>Cadastro de Vacinações</h1>
    </section>
    <section id="sec_lista">
        <ul>
           <li><a href="/formincluirVacinacao">C - CREATE (Incluir)</a></li>
           <li><a href="/paralterar">U - UPDATE (Alterar)</a></li>
           <li><a href="/parexcluir">D - DELETE (Excluir)</a></li>
        </ul>
    </section>
    <section id="sec_link">
        <a href="/"> Voltar à página inicial </a>
    </section>
</body>
</html>